body {
    background-image: url("https://storage.needpix.com/rsynced_images/wallpaper-1477870_1280.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden; 
}

div.titleBar h1 {
    color: orange;
    font-weight: bold;
    opacity: 1 !important;
}

div.titleBar {
    background-color: black;
    opacity: 0.5;
}