body {
    background-image: url("https://storage.needpix.com/rsynced_images/wallpaper-1477870_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'chopsicregular';
}

div.titleBar h1 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 75px;
    padding-bottom: 0px;
    margin-bottom: 24px;
}

div.titleBar {
    background-color: black;
    opacity: 1;
    text-align: center;
}

nav {
    width: 80%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}

.nav {
    margin-left: 23%;
}

li {
    font-size: 30px;
    display: inline;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
}

ul {
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 8px whitesmoke;
}

.description{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-left: 75px;
    margin-right: 75px;
    text-shadow: 2px 2px 8px black;
}

h2 {
    font-size: 45px;
    color: chartreuse;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

.column img {
  width: 350px;
  height: 382px;
  border-radius: 20%;
}

.column p {
  font-size: 20px;
  text-shadow: 2px 2px black;
}

* {
  box-sizing: border-box;
}

.mac {
  font-size: 20px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
