body {
    background-image: url("https://storage.needpix.com/rsynced_images/wallpaper-1477870_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'chopsicregular';
}

div.titleBar h1 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 75px;
}

div.titleBar {
    background-color: black;
    opacity: 1;
    text-align: center;
}
